In [1]:
# Core Libraries for Data Manipulation and Analysis
import pandas as pd  # Efficient data structures for data analysis
import numpy as np  # Mathematical functions for array manipulation

# Visualization Libraries
import matplotlib.pyplot as plt  # Comprehensive 2D plotting library
import seaborn as sns  # Statistical data visualization
import plotly.express as px  # Interactive plotting

In [2]:
file_path = "Toyota_Data.csv"

In [3]:
# Load the dataset
df = pd.read_csv(file_path)

In [4]:
df.head(5)

         Date  Adj Close     Close      High       Low      Open  Volume
0  1980-03-17   2.296798  3.291227  3.344743  3.291227  0.000000   41109
1  1980-03-18   2.306134  3.304606  3.358122  3.304606  0.000000    9343
2  1980-03-19   2.306134  3.304606  3.304606  3.304606  3.304606       0
3  1980-03-20   2.306134  3.304606  3.358122  3.304606  0.000000   10277
4  1980-03-21   2.362154  3.384880  3.438396  3.384880  0.000000    8409